@import '../../mixins.scss'; 
.post-container {
  @include post-container;
  

  &_title {
    font-weight: 700;
    color: #348295;
    text-decoration: none;
  }

  &_tag {
    margin: 8px 0 12px;
    font-size: 12px;
    color: #1f5f6e
  }

  &_text {
    font-size: 14px;
    color: #464c4e;
  }

  &_name {
    margin-top: 10px;
    text-align: right;
    color: #348295;
    
    & span {
      font-weight: 700;
      cursor: pointer;
      opacity: .8;
      
      &:hover {
        opacity: 1;
      }
    }
  }
}
