html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* common styles */

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.page-title {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: rgb(61, 71, 204);
  text-shadow: 1px 1px rgb(58, 85, 240);
}